/*base styles:
html
body
form
input
a
a:hover
*/
/*layout styles:
header
article
post
footer
blog
*/
/*module styles:
(belong insude layouts > )
nav (and nav > h2 etc)
quote
video
carousel
*/
@import url(https://fonts.googleapis.com/css?family=Rokkitt);
html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
}

/*variables*/
/*//colors*/
/*Typography*/
/*  ^ equals 1 rem  */
/*declare Rokkitt*/
/*declare some fallback fonts*/
/*layout*/
/*padding*/
h1 {
  font-family: 'Rokkitt', serif;
  text-align: center;
}

title {
  font-family: 'Open Sans', sans-serif;
}

body {
  font-family: 'Open Sans', sans-serif;
}

p {
  font-family: 'Rokkitt', serif;
}

.navigation-bar {
  display: flex;
  position: relative;
  justify-content: flex-start;
  align-content: center;
  max-height: 6.42;
  background-color: #121921;
  padding: 0.85714rem;
}
