@import url(https://fonts.googleapis.com/css?family=Rokkitt|Open+Sans);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Typography variables*/
/*layout*/
/*base styles:
html
body
form
input
a
a:hover
*/
html, body {
  font-family: 'open-sans', sans-serif;
  font-size: 16px;
}

.clearfix {
  overflow: auto;
}

h1, h2, h3, h4, h5, h6, .logo {
  font-family: "Rokkitt", serif, serif;
}

h1 {
  color: #121921;
  font-size: 2rem;
}

h2 {
  font-color: rgba(18, 25, 33, 0.5);
}

h3 {
  font-size: 2rem;
  color: rgba(18, 25, 33, 0.5);
}

title {
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: #ffffff;
}

a {
  color: #ef5125;
}

a:hover {
  color: #2D3589;
}

a:visited {
  color: #121921;
}

footer {
  font-family: "Open Sans", sans-serif, sans-serif;
}

/*layout styles:
header
article
post
footer
blog
nav
quote
*/
header {
  padding: 2.5rem;
  background-color: #121921;
  font-family: "Rokkitt", serif;
}

header #logo {
  float: left;
  color: #ffffff;
  font-size: 2rem;
}

header nav {
  float: right;
}

header nav ul > li > a {
  color: rgba(18, 25, 33, 0.5);
  font-size: 1.25rem;
  text-decoration: none;
}

header div#logo > div#navToggle {
  position: absolute;
  right: 0;
  top: 0;
}

header div#logo > div#navToggle > a {
  color: #ffffff;
  padding: 0 2.5rem;
  text-decoration: none;
}

header .nav-list {
  list-style-type: none;
}

header .nav-list a {
  color: rgba(255, 255, 255, 0.5);
}

header .nav-list a:hover {
  color: #61c192;
}

.about h1 {
  font-weight: bold;
  font-size: 4em;
  color: #121921;
}

.about p {
  padding: 0 0 1em 0;
}

.about .portfolio-pic {
  width: 300px;
  display: block;
  margin-left: 1em;
}

.section {
  clear: both;
  display: block;
}

.section p {
  padding: 3em;
}

.section h2 {
  padding: 1rem 1rem;
  text-align: center;
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.5);
  background-color: #121921;
}

.section a {
  color: inherit;
}

.section .grid-services {
  max-width: 72rem;
  margin: 1em auto;
  text-align: center;
}

.section .service-item {
  width: 33.3%;
  float: left;
}

.section .service-item .fa {
  color: #ef4953;
}

.pro-summary {
  margin: auto;
  color: rgba(18, 25, 33, 0.5);
  text-align: justify;
  width: 60%;
}

.dynamic-feeds {
  max-width: 72rem;
  margin: 1em auto;
  text-align: center;
}

.nav {
  display: flex;
  position: relative;
  justify-content: flex-start;
  align-content: center;
  max-height: 6.42;
  background-color: #121921;
  padding: 0.5em;
}

.contact {
  text-align: center;
}

.fa {
  padding: 0.5em;
}

footer {
  border: 5px solid red;
  background-color: #121921;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.125rem;
  padding: 1em;
}

footer .credits {
  float: right;
}

/* Medium screens and larger */
@media all and (min-width: 680px) {
  header {
    text-align: left;
    width: 100%;
  }
  header div#logo > div#navToggle {
    display: none;
  }
  header nav > ul {
    display: flex;
  }
  header nav > ul > li > a {
    vertical-align: center;
    padding: 0 1.25rem;
  }
  header nav > ul > li > a span.toggle {
    display: none;
  }
  .about {
    clear: both;
    margin: 0.75em;
    padding: 0 0 6em 3em;
    font-family: "Open Sans", sans-serif;
  }
  .about h1 {
    padding-top: 1.5em;
  }
  .about .portfolio-pic {
    float: right;
  }
  .articles, .posts {
    padding: 2em;
    float: left;
    width: 33.3%;
  }
  .articles h3, .posts h3 {
    padding-bottom: 1em;
  }
  .articles li, .posts li {
    list-style: none;
  }
}

@media only screen and (max-width: 680px) {
  .about {
    text-align: center;
  }
  .about .subtitle {
    font-size: 1rem;
    padding-bottom: 2em;
  }
  .about .portfolio-pic {
    text-align: center;
  }
  .pro-summary {
    width: 90%;
  }
  .section .service-item {
    width: 50%;
  }
  .articles, .posts {
    width: 100%;
  }
}
