@import url(https://fonts.googleapis.com/css?family=Rokkitt|Open+Sans);
html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
}

/*Typography variables*/
/*layout*/
/*base styles:
html
body
form
input
a
a:hover
*/
html, body {
  font-family: 'open-sans', sans-serif;
  font-size: 16px;
}

.clearfix {
  overflow: auto;
}

h1, h2, h3, h4, h5, h6, .logo {
  font-family: 'Rokkitt', serif;
}

h1 {
  color: rgba(18, 25, 33, 0.5);
  font-size: 2rem;
}

h2 {
  margin: 1em 0 0 0.5em;
  font-color: rgba(18, 25, 33, 0.5);
}

title {
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

a {
  color: #ef5125;
}

a:hover {
  color: #2D3589;
}

a:visited {
  color: #121921;
}

p {
  font-family: 'Rokkitt', serif;
  margin: 0.2em 1em;
}

/*layout styles:
header
article
post
footer
blog
nav
quote
*/
header {
  background-color: #121921;
}

.logo {
  padding: 1em;
  font-color: #121921;
  font-size: 1.875rem;
  background-color: #121921;
  color: #ffffff;
}

.content {
  padding: 0.5em 0.2em;
  margin: 0.2em;
}

.about .title {
  padding: 1em 0 0 0.5em;
  margin: 0 0 0 0;
  font-size: 4rem;
  font-weight: bold;
  color: #121921;
}

.about .subtitle {
  padding: 0 0 0 1em;
  font-size: 2rem;
  color: rgba(18, 25, 33, 0.5);
}

.about .portfolio-pic {
  float: right;
  padding: 0 1.5em 0.2em 0;
}

.services {
  margin: 6em 0 0 -1em;
  padding: 2em 1.2em 0 0;
  background-color: #121921;
}

.services .title {
  text-align: center;
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.5);
}

.navigation-bar {
  margin: 0 0 0 -1em;
  display: flex;
  position: relative;
  justify-content: flex-start;
  align-content: center;
  max-height: 6.42;
  background-color: #121921;
  padding: 0.2em;
}

footer {
  background-color: half-black;
  font-size: 1.125rem;
}

@media only screen and (max-width: 660px) {
  .logo {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    padding-top: 2em;
  }
  .about .title, .about .subtitle {
    display: inline-block;
    font-size: 1rem;
  }
  .about .portfolio-pic {
    justify-content: center;
    display: block;
    overflow: hidden;
  }
}
