<!DOCTYPE html>
<html>
  <head>
	<style>
		@import url('https://fonts.googleapis.com/css?family=Open+Sans|Rokkitt');
    /*@import url('https://fontlibrary.org/face/butler');*/
	</style>
    <meta charset="utf-8">
    <title>{{#if title }}{{ title }} - {{/if}}{{ site.name }}</title>
    <meta name="description" content="{{#if description}}{{ description }}{{else}}{{ site.description }}{{/if}}" />
	<link rel="stylesheet" type="text/css" href="/assets/css/main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/js/responsive.js"></script>  
  <script src="https://use.fontawesome.com/3817149adf.js"></script>  
  </head>
  <body>
<header>
      <div id="logo" class="menuUp"><a href="#">{{ site.title }}</a>
        <div id="navToggle"><a href="#">&#9776;</a></div>
      </div>
      {{> nav}}
      {{#if collection}}
<!--     <a class="back-to-home" href="/index.html">&larr; Home</a> -->
      {{/if}}
</header>
<main>