<div class="section">
  <h2 class="services"><a name="services-header">SERVICES</a></h2>

	<div class="grid-services">
   		<div class="service-item">
   				<i class="fa fa-graduation-cap fa-2x"></i>
     			<h3>Agile coaching</h3>
				<p>I will help your organization implement efficient, effective exercises that boost focus and productivity while keeping your team in the driver's seat.</p>	
		   </div>
   		<div class="service-item">
   				<i class="fa fa-lightbulb-o fa-2x"></i>
     			<h3>Strategy Definition</h3>
				<p>Got a problem you cannot solve or don't fully understand?  My co-creative process helps you cut away extraneous factors to articulate the base problem and build confident solutions.</p>
		   </div>
   		<div class="service-item">
  				<i class="fa fa-life-ring fa-2x"></i>
     			<h3>Consulting</h3>
				<p>Business challenges are most easily solved when seen objectively through an empirical lens.  I'll apply a decade's worth of innovative project management techniques toward your objectives.</p>
		   </div>
   		<div class="service-item">
  				<i class="fa fa-pencil fa-2x"></i>
     			<h3>Professional writing</h3>
				<p>Craft user stories, product requirements, or technical docs in a clear voice that developers and executives understand.</p>	
		   </div>
   		<div class="service-item">
  				<i class="fa fa-cogs fa-2x"></i>
     			<h3>Technical analysis</h3>
				<p>Agile workflows are most powerful when backed by clear-eyed technical plans.  I employ proven methodologies to optimize for value across the entire SDLC and prioritize a technical roadmap accordingly.</p>	
		   </div>
   		<div class="service-item">
  				<i class="fa fa-question-circle-o fa-2x" aria-hidden="true"></i>
     			<h3>Something else?</h3>
				<p><strong><a href="mailto:kylenstone@gmail.com?subject=Hello Kyle!">Contact me</a></strong> and I'll set up a time to explore your needs.</p>	
		   </div>
	</div>
</div>