{{> header}}
  <div class="content">
    <div class="about">
      <img class="portfolio-pic" src="/assets/img/portfolio-pic.png"></img>
        <h1 class="about-title">KYLE STONE</h1>
        <h3 class="subtitle"><span class="sub">Agile Leader</span><span class="sub">Tech PM</span><span class="sub">Strategic Thinker</span></h3> <!-- Agile Leader tech PM Strategic Thinker -->
      </div>
    {{> pro-summary}}
    {{> services}}
    <div class="section">
      <h2 class="writing"><a name="writing">WRITING</a></h2>
      <div class="dynamic-feeds">
      <div class="posts">
      <h3> Latest posts </h3>
      <ul>
      {{#each post}}
        <li>
          <div class="title"><a href="{{ path }}">{{ title }}</a></div>
          <div class="date">{{ date }}</div>
        </li>
      {{/each}}
    </ul>
      </div>
      <div class="articles">
      <h3> Latest articles </h3>
      <ul>
      {{#each article}}
        <li>
          <div class="title"><a href="{{ path }}">{{ title }}</a></div>
          <div class="date">{{ date }}</div>
        </li>
      {{/each}}
      </ul>
    </div>
    </div>
  </div>
  </main>
  <div class="section">
    <h2>GET IN TOUCH</h2>
    <div class="contact">
      <a href="https://github.com/kylenstone"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;
      <a href="mailto:kylenstone@gmail.com?subject=Hello Kyle!"<i class="fa fa-envelope-o fa-3x" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;
      <a href="https://www.linkedin.com/in/kylestone/"<i class="fa fa-linkedin fa-3x" aria-hidden="true"></i></a>
    </div>
  </div>
{{> footer}}
