// Google fonts
@import url(https://fonts.googleapis.com/css?family=Rokkitt|Open+Sans);

// Font variables
$rokkitt: 'Rokkitt', serif;
$open-sans: 'Open Sans', sans-serif;

// Color variables

$black: #121921;
$half-black: rgba($black, 0.5);
$white: #ffffff;
$half-white: rgba($white, 0.5);
$green: #61c192;
$light-yellow: #fffedb;
$blue: #2D3589;
$lightest-grey: #f5f5f5;
$light-grey: #e6e5e6;
$medium-grey: #878b8f;
$dark-grey: #666;
$red: #ef5125;
$pale-red: #ef4953;

/*Typography variables*/
$body-copy-color: $black;
$root-font-size: 16px; // equals 1 rem

/*layout*/
$smartphone: 452px;
$tablet: 768px;
$desktop: 1080px;

/*  base styles: html, body, form, input, a, a:[state]  */

html, body, {
  font-family: 'open-sans', sans-serif;
  font-size: $root-font-size;
}

.clearfix {
	overflow: auto;
}

h1, h2, h3, h4, h5, h6, .logo {
	font-family: $rokkitt, serif;
}

h1 {
	color: $black;
	font-size: 2rem;
}

h2 {
	font-color: $half-black;
}

h3 {
	font-size: 2rem;
	color: $half-black;
}

title {
	font-family: 'Open Sans', sans-serif;
}

body {
	background-color: $white;
}

a, a:visited {
	color: $dark-grey;
}

a:hover {
	color: $red;
}

p {
	color: $dark-grey;
}

footer {
	font-family: $open-sans, sans-serif;
}