/*module styles:
(belong insude layouts > )
nav (and nav > h2 etc)
quote
video
carousel
*/

//reset

// Google fonts
@import url(https://fonts.googleapis.com/css?family=Rokkitt|Open+Sans);

// Font variables
$rokkitt: 'Rokkitt', serif;
$open-sans: 'Open Sans', sans-serif;

/*variables*/
/*//colors*/
$black: #121921;
$half-black: rgba($black, 0.5);
$white: #ffffff;
$half-white: rgba($white, 0.5);
$green: #61c192;
$light-yellow: #fffedb;
$blue: #2D3589;
$lightest-grey: #f5f5f5;
$light-grey: #e6e5e6;
$medium-grey: #878b8f;
$dark-grey: #474b4f;
$red: #ef5125;

/*Typography*/
$body-copy-color: $black;
$root-font-size: 14px;
/*  ^ equals 1 rem  */

/*layout*/
$smartphone: 452px;
$tablet: 768px;
$desktop: 1080px;

/*padding*/
$padding-extra-small: 12px / $root-font-size * 1rem;
$padding-small: 16px / $root-font-size * 1rem;
$padding-medium: 20px / $root-font-size * 1rem;
$padding-large: 26px / $root-font-size * 1rem;
$padding-extra-large: 54px / $root-font-size * 1rem;

/*base styles:
html
body
form
input
a
a:hover
*/

body {
  font-family: 'open-sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, .logo {
	font-family: 'Rokkitt', serif;
}

h1 {
	color: $half-black;
	font-size: 2em;
}

h2 {
	margin: 1em 0 0 0.5em;
	font-color: $half-black;
}

title {
	font-family: 'Open Sans', sans-serif;
}

body {
	margin: 0;
	padding: 0;
	background-color: $white;
}

a {
	color: $red;
}

a:hover {
	color: $blue;
}

a:visited {
	color: $black;
}

p {
	font-family: 'Rokkitt', serif;
	margin: 0.2em 1em;	
}