
/*layout styles:
header
article
post
footer
blog
nav
quote
*/

header {
  background-color: $black;
  }

.logo {
	padding: 1em;
	font-color: $black;
	font-size: 1.875rem;
	background-color: $black;
	color: $white;
}

.content {
	padding: 0.5em 0.2em;
	margin: 0.2em;
}

.about {

	.p {

	}

	.title {
		padding: 1em 0 0 0.5em;
		margin: 0 0 0 0 ;
		font-size: 4rem;
		font-weight: bold;
		color: $black;
	}

	.subtitle {
		padding: 0 0 0 1em;
		font-size: 2rem;
		color: $half-black;
	}

	.portfolio-pic {
		float:right;
		padding: 0 1.5em 0.2em 0 ;
	}
}

.services {
	margin: 6em 0 0 -1em;
	padding: 2em 1.2em 0 0;
	background-color: $black;

	.title {
		text-align: center;
		font-size: 2rem;
		color: $half-white;
	}
}

.navigation-bar{
	margin: 0 0 0 -1em;
	display: flex;
	position: relative;
	justify-content: flex-start;
	align-content: center;
	max-height: 6.42;
	background-color: $black; // define
	padding: 0.2em; // adjust	
}



footer {
	background-color: half-black;
	font-size: 1.125rem;
}