
/*layout styles:
header
article
post
footer
blog
nav
quote
*/

header {
	padding: 2.5rem;
	background-color: $black;
	font-family: $rokkitt;

	#logo {
		float:left;
		color: $white;
		font-size: 2rem;
	}

	nav {
		float:right;

		ul > li {
			// responsive only
		}

		ul > li > a {
			// responsive only
			color: $half-black;
			font-size: 1.25rem;
			text-decoration: none;
		}
	}

	div#logo > div#navToggle {
	    position: absolute;
	    right: 0;
	    top: 0;
	}

    div#logo > div#navToggle > a {
        color: $white;
        padding: 0 2.5rem;
        text-decoration: none;
    }

	.nav-list {
	list-style-type: none;

		a {
			color: $half-white;
		}

		a:hover {
		color: $green;
		}
	}
}

.content {
	.meta {
		font-family: $rokkitt;
		color: $dark-grey;
		padding-bottom: 2em;
	}	
}

.about {
	// border: 5px solid red; // DEBUG

	.portfolio-pic {
		width: 300px;
	}

	.sub {
		padding-right: 2rem;
	}

}

.section {
	// border: 5px solid red; // DEBUG
	clear:both;

	p {
		padding: 3rem; // fairly inflexible rule.  TODO refactor
	}

	h2 {
		padding: 1rem 1rem;
		text-align: center;
		font-size: 2rem;
		color: $half-white;
		background-color: $black;
	}

	h2 a, h2 a:hover {
		color: inherit; // note this also impacts inline and footer links.
	}

	.grid-services {
		max-width: 72rem;
		margin: 1em auto;
		text-align: center;
		padding: 0.5rem;
	}

	.service-item{
		width:30%;
		float:left;
		padding-bottom: 1rem;

	.fa {
		color: $pale-red;
		padding: 0.5em;
		}
	
	p {
		padding: 2rem 1rem;
	}


	}

}

.pro-summary {
	margin: auto;
	color: $dark-grey;
	text-align: justify;
	width: 60%
}

.dynamic-feeds {
	// border: 5px solid red; // DEBUG
	max-width: 72rem;
	margin: 1em auto;
	text-align: center;
}

.nav{
	// margin: 0 0 0 -1em;
	display: flex;
	position: relative;
	justify-content: flex-start;
	align-content: center;
	max-height: 6.42;
	background-color: $black;
	padding: 0.5em; // adjust	
}

.contact{
	text-align: center;	
	padding: 1rem;
}

footer {
	// border: 5px solid red; // DEBUG
	background-color: $medium-grey;
	color: $black;
	font-size: 1.125rem;
	padding: 2em;

	.credits {
		float:right;
	}

}

/*
 * MEDIA QUERIES 
 */

/* Smartphones and small tablets (portrait and landscape) ----------- */
@media only screen and (max-width: 680px) {
 
    .about {
    	text-align: center;

		.subtitle { 
		font-size: 1rem;
		padding-bottom: 2em;
		}

		.portfolio-pic {
			text-align: center;
			padding-top: 0.75rem;
		}
	}

	.pro-summary{
		width: 90%;
	}

	.section .service-item {
		width: 100%;

		p {
			padding: 3em 6em;
			text-align: left;
		}
	}

	.articles, .posts {
		width: 100%;
	}
}

@media all and (min-width: 680px) 
{
/* Small tablets and larger (portrait and landscape) ----------- */


	// update global vars
	h1 {
		padding-top: 1.5rem;
		font-weight: bold;
		font-size: 4em;
		color: $black;
	}

    header {
		// border: 5px solid red; // DEBUG
        text-align: left;
        width: 100%;

        div#logo > div#navToggle {
        display: none;    
    	}

        nav > ul {
        display: flex;    
    	}

        nav > ul > li > a {
    	vertical-align: center;
        padding: 0 1.25rem;
    	}

        nav > ul > li > a span.toggle {
        display: none;  
        }
	}

    .about {
    	clear: both;
		padding: 0.75rem 0.75rem 6.25rem 3rem;
		font-family:$open-sans;

		h1 {
			padding-top: 5rem;
		}

    	.portfolio-pic {
    		float:right;
	    }
	}

	.articles, .posts {
		padding: 2em;
		float: left; // note this reverses the order of apperance. (that's fine for now.)
		width: 33.3%;

		h3 {
			padding-bottom: 1em;
		}

		li {
			list-style: none;
		}

		.title, .date {
			line-height: 1.5rem;
		}
	}
}

/* Tablets (portrait and landscape) ----------- */
@media only screen 
and (min-width : 681px) 
and (max-width : 1024px) {

	.sub {
		display: block;
		font-size: 1.5rem;
	}

	.about {
		padding-bottom: 3rem;
	}
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {

}

