.back-to-home {
	margin: 0.6rem 1rem;
	float:left;
}

.collection-label {
	display: block;
	font-family: $rokkitt;
	font-size: 1.25rem;
	color: $pale-red;
	margin: 1rem 0 0 2.5rem;
}

article {
	h1, .meta, p {
	margin-left: 2rem;
	}
}