.collection-label {
	display: block;
	font-family: $rokkitt;
	font-size: 1.25rem;
	color: $pale-red;
	margin-top: 1.5rem;
	text-transform: uppercase;
}

article {

	h2 {
		padding: 2rem 0 1rem 0;
	}

	.article-body img {
		width: 100%;
		height: auto;
	}

	.article-body ul {
		padding: 0 0 1rem 2rem;		
	}
}
.content {

	.content-tools {
		font-family: $rokkitt;
		color: $dark-grey;
		margin: 2rem 0;
		font-size: 1.2rem;
		letter-spacing: 0.0625rem;
		vertical-align: middle;
	}

	.plain-inline-list {
		display: inline-block;
	}

	// .plain-inline-list ul {
	// 	// display: inline-block;
	// }

	.plain-inline-list > li {
		list-style: none;
		display: inline-block;
		white-space: nowrap;
		}

	.has-padding-right {
		padding-right: 3rem;
		}

	.has-padding-left {
		padding-left: 3rem;
		}
}

// Nav share elements
.content-share {
	display:inline;

    .post-share-email {
        .fa {
            padding: 5px;
            border-radius: 50%;
            transition: color 200ms,
                        background-color 200ms;

            &:hover,
            &:focus {
                color: $white;
                background-color: $pale-red;
            }
        }
    }

}

/* Smartphones and small tablets (portrait and landscape) ----------- */
@media only screen and (max-width: 680px) {
 .content {
 	ul {
 		padding-left: 0;
 	}

	.has-padding-right {
	 	padding-right: 1rem;
	 }

	 .has-padding-left {
	 	display: block;
	 	padding-left:0;
	 }

	.content-tools {
		font-size: 0.9rem;
	}
}
}


/* Tablets (portrait and landscape) ----------- */
@media only screen 
and (max-width : 1024px) {

	.content-share {
		display: block;
	}
}